// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;

.header__inner {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid var(--gray);

    flex-wrap: wrap;

    @media (max-width: 860px) {
        gap: 10px;
    }

    @media (max-width: 560px) {
        justify-content: space-between;
    }
}

.logo_link {

    img {
        @media (max-width: 860px) {
            width: 157px;
            height: 34px;
        }
    }
}

.address_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 860px) {
        font-size: 9px;
        gap: 5px;

        img {
            width: 9px;
            height: 9px;
        }
    }

    @media (max-width: 560px) {
        display: none;
    }
}

.primary_button {
    background: var(--button-gradient);
    color: white;
    padding: 10px 20px;
    border: 1px solid var(--button-border);
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.125rem;

    &:hover {
        color: var(--hover);
        background: white;
        border: 1px solid var(--hover);
    }

    @media (max-width: 860px) {
        font-size: 0.625rem;
        padding: 5px 10px;
    }

    @media (max-width: 560px) {
        display: none;
    }
}

.item__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--gray);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 860px) {
        width: 30px;
        height: 30px;

        img {
            width: 15px;
            height: 15px;
        }
    }
}

.header_social {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 860px) {
        gap: 10px;
    }
}

.phone_link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;

    transition: color var(--transition);

    &:hover {
        color: var(--hover);
    }

    @media (max-width: 860px) {
        font-size: 9px;
        gap: 5px;

        img {
            width: 9px;
            height: 9px;
        }
    }

    @media (max-width: 560px) {
        display: none;
    }
}

.burger_button {
    border: none;
    background: none;
    cursor: pointer;
    display: none;

    @media (max-width: 560px) {
        display: block;
    }
}