// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;


.hero_wrapper {
    position: relative;
    max-width: 1740px;
    width: 100%;
    padding: 0 20px;
    border-radius: 30px;
    margin: 0 auto;
    border-radius: 20px;

    min-height: 728px;

    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 560px) {
        min-height: 439px;
    }
}

.hero_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    border-radius: 20px;
}

.hero_title {
    font-weight: 600;
    @include adaptiv-value("font-size", 50, 23);
    line-height: 120%;
    text-align: center;
    color: var(--color-light-gray);
    max-width: 710px;
    text-align: center;
}

.hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: -100px;

    @media(max-width: 560px) {
        margin-top: -50px;
    }
}

.hero_button {
    background: var(--button-gradient);
    color: white;
    padding: 20px 70px;
    border: 1px solid var(--button-border);
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.125rem;
    border: none;

    @media(max-width: 560px) {
        padding: 10px 30px;
        font-size: 0.875rem
    }
}

.hero_button_small {
    padding: 14px 30px;
    font-size: 1rem;
}

.hero_ladel {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    font-weight: 600;
    @include adaptiv-value("font-size", 18, 9);

    color: var(--color-light-gray);
    max-width: 397px;
    line-height: 1.1;

    position: absolute;

    @media(max-width: 560px) {
        padding: 5px 10px;

        img {
            width: 15px;
            height: 15px;
        }
    }
}

.hero_ladel_1 {
    top: 60%;
    left: 10%;

    @media(max-width: 560px) {
        max-width: 65%;
        top: 65%;
        left: 5%;
    }
}

.hero_ladel_2 {
    top: 10%;
    right: 10%;
}

.hero_ladel_3 {
    bottom: 20%;
    right: 20%;

    @media(max-width: 560px) {
        max-width: 46%;
        bottom: 15%;
        right: 5%;
    }
}

.mini_popup {
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 9999;

    @media(max-width: 560px) {
        bottom: 20px;
        left: 20px;
        max-width: 90%;
    }
}

.mini_popup_content {
    background: var(--background);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
        @include adaptiv-value("font-size", 24, 18);
    }

    p {
        color: var(--color-gray);
    }
}

.mini_popup_close_button {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.hero_link {
    position: absolute;
    bottom: 40px;
    right: 40px;

    border-radius: 130px;
    width: 130px;
    height: 130px;
    background: var(--button-gradient);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.scroll_down_button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    position: absolute;
    bottom: 10px;
    left: 50%;
    animation: scrollDown 0.5s infinite alternate;
}

@keyframes scrollDown {
    0% {
        transform: translateX(-28%) translateY(0);
    }

    100% {
        transform: translateX(-28%) translateY(10px);
    }
}