.item__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--gray);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}