.item__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--gray);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 860px) {
    .item__button {
        width: 30px;
        height: 30px;
        
        img {
            width: 15px;
            height: 15px;
        }
    }
}