.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(32, 32, 32, 0.7);
    top: 0;
    left: 0;
    opacity: 0.7;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity 0.3s ease;
    z-index: -2;
}

.popupNone {
    opacity: 0;
    visibility: hidden;
    position: fixed;
}

.popupActive {
    opacity: 1;
    visibility: visible;
    z-index: 70;
}

.popup__body {
    position: relative;
    width: 100%;
    min-height: 100%;
    /* padding: 30px 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.popup__content {
    position: relative;
    box-sizing: border-box;
    max-width: 530px;
    min-height: 430px;
    padding: 30px;
    background: var(--white);
    color: var(--blue);
    text-align: center;
   border-radius: 30px;
}

.popup__close {
    position: absolute;
    top: -40px;
    right: 0;
    z-index: 1000;
    background: var(--button-gradient);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* .popup__close:hover {
    background-color: var(--light-blue);
} */


.popup__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

.popup__btn {
    margin-top: -10px;
    position: absolute;
    width: 35px;
    height: 35px;
    top: -30px;
    right: -10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    background-color: #76212E;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.popup__btn svg path {
    background-color: #303030;
    border-radius: 10px;
    stroke: white;
}

.image_form {
    /* width: 100%; */
    max-width: 530px;

}

@media (max-width: 560px) {
    .popup__content {
        padding: 20px;
    }
}