@use "@app/mixins" as *;

.owner {
    @include adaptiv-value("margin-top", 100, 50);
}

.owner_wrapper {
    border-top: 1px solid var(--gray);
    padding: 30px 0;
    position: relative;


    display: grid;
    column-gap: 30px;
    grid-template-columns: 20% 1fr 31%;

    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    @media (max-width: 460px) {
        gap: 10px;
    }
}

.owner__image {
    grid-row: 1 / 3;
    grid-column: 3 / 4;

    border-radius: 50%;

    @media (max-width: 768px) {
        grid-row: 1 / 2;
        grid-column: 1 / 1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: 460px) {
            object-fit: contain;
        }
    }
}

.owner__qoutes {
    @media (max-width: 768px) {
        position: absolute;
    }

    img {
        @media (max-width: 460px) {
            width: 42px;
            height: 42px;
        }
    }
}

.owner__descriptions {
    @media (max-width: 768px) {
        grid-row: 1 / 4;
        grid-column: 2 / 3;
    }
}

.owner__descriptions {
    font-weight: 600;
    @include adaptiv-value("font-size", 18, 10);

    p {
        margin-bottom: 20px;
    }
}

.owner__position {
    font-weight: 400;
    @include adaptiv-value("font-size", 18, 10);
    color: var(--color-gray);
}

.owner__title {
    font-weight: 600;
    @include adaptiv-value("font-size", 24, 12);
    margin-bottom: 10px;
}

.owner__content {
    // align-self: end;
}

.primary_button {
    background: var(--button-gradient);
    color: white;
    padding: 10px 20px;
    border: 1px solid var(--button-border);
    border-radius: 30px;
    cursor: pointer;
}