@use "@app/mixins" as *;

.services {
    @include adaptiv-value("margin-top", 100, 50);
}

.services_wrapper {
    border-top: 1px solid var(--gray);
    padding: 30px 0;
}

.services__header {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    p {
        font-weight: 600;
        font-size: 1.125rem;
        color: var(--text-gray);
        max-width: 430px;

        @media (max-width:768px) {
            max-width: 100%;
            font-size: 0.875rem;
        }
    }

    @media (max-width:768px) {
        flex-direction: column;
    }
}

.services__title {
    font-weight: 600;
    line-height: 120%;
    @include adaptiv-value("font-size", 46, 23);
}

.services_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 20px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.services_item {
    border-radius: 10px;
}

.services_item_link {
    border-radius: 10px;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .services_item_svg_path_1 {
        transition: fill var(--transition);
        fill: #FFFEFE;
    }

    .services_item_svg_path_2 {
        transition: stroke var(--transition);
        stroke: #3170B4;
    }

    &:hover {
        .services_item_svg_path_1 {
            fill: #3170B4;
        }

        .services_item_svg_path_2 {
            stroke: #FFFEFE;
        }
    }

    svg {
        @media (max-width: 560px) {
            width: 60px;
            height: 50px;
        }
    }
}

.services_item_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--transition);
}

.services_item_svg {
    position: absolute;
    top: 0;
    right: 0;
}

.services_item_title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 600;
    @include adaptiv-value("font-size", 24, 11);
    backdrop-filter: blur(100px);
    background: rgba(0, 0, 0, 0.05);
    color: #ffffff;

    padding: 20px 30px;

    @media (max-width: 560px) {
        padding: 10px 15px;
    }
}