@use "@app/mixins" as *;

.services {
    @include adaptiv-value("margin-top", 100, 50);
}

.services_wrapper {
    border-top: 1px solid var(--gray);
    padding: 30px 0;
}

.services__header {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    p {
        font-weight: 600;
        font-size: 1.125rem;
        color: var(--color-gray);
        max-width: 430px;

        @media (max-width:768px) {
            max-width: 100%;
        }
    }

    @media (max-width:768px) {
        flex-direction: column;
    }
}

.services__title {
    font-weight: 600;
    line-height: 120%;
    @include adaptiv-value("font-size", 46, 26);
}

.services_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 20px;
    padding-top: 20px;
}

.services_item {
    border-radius: 30px;
}

.services_item_link {
    border-radius: 30px;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:hover .services_item_image {
        transform: scale(1.05);
    }
}

.services_item_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--transition);
}

.services_item_svg {
    position: absolute;
    top: 10px;
    right: 10px;
}

.services_item_title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 600;
    @include adaptiv-value("font-size", 24, 18);
    backdrop-filter: blur(100px);
    background: rgba(0, 0, 0, 0.05);
    color: #ffffff;

    padding: 20px 30px;
}