// @include adaptiv-value("font-size", 16, 13);
// @use "../../mixins" as *;
@use "@app/mixins" as *;

.form {
    h2 {
        margin-bottom: 20px;
        @include adaptiv-value("font-size", 40, 26);
    }
}

.subtitle {
    color: var(--color-gray);
    @include adaptiv-value("font-size", 18, 14);
    margin-bottom: 20px;
}

.policy_checkbox_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.policy_checkbox {
    width: 30px;
    height: 30px;
}

.policy_text {
    font-size: 12px;
    color: #BDC1C8;
    text-align: left;
}

.input_text_error {
    font-size: 12px;
    color: red;
}

.input_wrapper {
    margin-bottom: 20px;
}

.form__input {
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
    color: #858f9c;
    background: #e6ecf3;
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 100%;
    height: 50px;
}

.success {
    font-size: 12px;
    color: green;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.125rem;
    text-align: center;
    background: #e6ecf3;
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 100%;
    height: 50px;
}

.send_error {
    font-size: 12px;
    font-weight: 600;
    font-size: 1.125rem;
    text-align: center;
    background: #e6ecf3;
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 100%;
    height: 50px;
    color: red;
}

.form__btn__submit {
    background: var(--button-gradient);
    color: white;
    padding: 10px 20px;
    border: 1px solid var(--button-border);
    border-radius: 30px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px 20px;
    width: 100%;
}